<%- include("template/cabecera", {tituloWeb: "Pagina Principal", archivoCss: "../principal.css", archivoBootstrap: "../bootstrap.min.css"}) %>
    <h1>Titulo de mi sitio web Index</h1>
    <h2><%= titulo %></h2>
<%- include("template/footer", {archivoPopperJs: "../popper.min.js", archivoBootstrapJs: "../bootstrap.min.js"}) %>
